.generator {
  background-color: #e0e0e0;
  padding: 8rem 0;
  text-align: center;
}

.illustrationContainer {
  margin: 4em auto;
  position: relative;
  max-width: 730px;
}

.illustration {
  max-width: 100%;
}

.code {
  background-color: #233F47;
  background-image: url('/static/img/wm-control.svg');
  background-repeat: no-repeat;
  background-size: 15% auto;
  background-position: 0.7em 0.8em;
  border-radius: .5em;
  color: #f2f2f2;
  padding-top: 2em;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
}

.code pre {
  background-color: #233F47;
  font-size: .65em;
  padding: 0 1em;
  z-index: 1;
}

.code::before, .code::after {
  background-color: #233F47;
  top: 100%;
  content: '';
  right: 100%;
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: .5em;
  z-index: 0;
}

.code::before {
  transform: translate(50%, -50%);
}

.code::after {
  transform: scale(.5);
}

@media (max-width: 768px) {
  .code {
    transform: translateY(-25%);
  }

  .code::before, .code::after {
    display: none;
  }
}
