<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{site.title}}{% endblock %}</title>
  <meta name="description" content="{% block description %}{{site.description}}{% endblock %}" />
  <meta name="author" content="{% block author %}{{site.author.name}}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{{site.keywords}}{% endblock %}" />

  {% block languages %}
  <!-- Languages -->
  <link href="feathersjs.com" rel="alternate" hreflang="x-default">
  <link href="feathersjs.com" rel="alternate" hreflang="en-us">
  <link href="feathersjs.com" rel="alternate" hreflang="en-uk">
  <link href="feathersjs.com" rel="alternate" hreflang="en-au">
  <link href="feathersjs.com" rel="alternate" hreflang="en-ca">
  {% endblock %}

  {% block twittercard %}
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="{{site.twittercard.card}}">
  <meta name="twitter:site" content="{{site.twittercard.site}}">
  <meta name="twitter:title" content="{{site.twittercard.title}}">
  <meta name="twitter:description" content="{{site.twittercard.description}}">
  <meta name="twitter:creator" content="{{site.twittercard.creator}}">
  <meta name="twitter:image" content="{{site.baseUrl}}{{site.twittercard.image}}">
  {% endblock %}

  {% block facebookgraph %}
  <!-- Open Graph data -->
  <meta property="og:title" content="{{site.facebookgraph.title}}" />
  <meta property="og:type" content="{{site.facebookgraph.type}}" />
  <meta property="og:url" content="{{site.baseUrl}}" />
  <meta property="og:image" content="{{site.baseUrl}}{{site.facebookgraph.image}}" />
  <meta property="og:description" content="{{site.facebookgraph.description}}" />
  <meta property="og:site_name" content="{{site.facebookgraph.siteName}}" />
  <meta property="og:updated_time" content="{{site.facebookgraph.updatedTime}}" />
  <meta property="og:rich_attachment" content="{{site.facebookgraph.richAttachment}}">
  <meta property="product:brand" content="{{site.facebookgraph.brand}}" />
  <meta property="product:category" content="{{site.facebookgraph.category}}" />
  <meta property="fb:admins" content="{{site.facebookgraph.admins}}" />
  {% endblock %}
  <!-- Resources -->
  <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  {% block styles %}
  <!-- Styles -->
  <link rel="stylesheet" href="feathers.css">
  {% endblock %}
</head>
<body>
  <div class="product-hunt none text-center">
    <h4 class="font-700">Welcome Product Hunters! We <i class="fa fa-heart"></i> You!</h4>
    <p>Help us out by <a href="https://twitter.com/intent/tweet?screen_name=feathersjs&text=I%20just%20hunted%20an%20open%20source%20alternative%20to%20%23meteor%20on%20%40producthunt.%20http%3A%2F%2Ffeathersjs.com%20%23feathersjs" class="twitter-mention-button twitter-link" target="_blank" data-related="ekryski,feathersjs">spreading the word</a> or <a href="https://github.com/feathersjs/feathers" class="github-link" target="_blank">starring us on Github</a>.</p>
  </div>
  <div class="github-button"><a class="github-button" href="https://github.com/feathersjs/feathers" data-icon="octicon-star" data-show-count="true" aria-label="Star feathersjs/feathers on GitHub">Star</a></div>
  {% block navbar %}
    <nav>
      <div class="navbar container relative">
        <ul class="list-inline">
          <li>
            <a href="https://github.com/feathersjs/feathers" target="_blank" title="Github">Github</a>
          </li>
          <li>
            <a href="https://blog.feathersjs.com/" target="_blank" title="Blog">Blog</a>
          </li>
          <li>
            <a href="http://docs.feathersjs.com" target="_blank" title="Documentation">Docs</a>
          </li>
          <li>
            <a href="http://docs.feathersjs.com/guides/help.html" target="_blank" title="Help">Help</a>
          </li>
        </ul>
      </div>
    </nav>
  {% endblock %}
  
  {% block content %}
    {% autoescape false %}{{content}}{% endautoescape %}
  {% endblock %}

  {% block footer %}
    <footer>
      <div class="container mobile-container">
        <div class="row clear">
          <div class="col col-4 col-2-tablet">
            <p class="title">About</p>
            <ul class="list-unstyled">
              <li><a href="https://blog.feathersjs.com/why-we-built-the-best-web-framework-you-ve-probably-never-heard-of-until-now-176afc5c6aac" title="The Feathers Philosophy">Philosophy</a></li>
              <li><a href="/comparison" title="Compare Feathers to other Node.js web frameworks">Comparison</a></li>
              <li><a class="" href="https://github.com/feathersjs/awesome-feathersjs" title="The Feathers ecosystem - inluding core and community contributed plugins">Ecosystem</a></li>
              <!-- <li><a href="/swag" title="FeathersJS shirts, stickers, and more">Swag</a></li> -->
              <!-- <li><a href="/press" title="Press kit">Press</a></li> -->
            </ul>
          </div>
          <div class="col col-4 col-2-tablet">
            <p class="title">Learn</p>
            <ul class="list-unstyled">
              <li><a href="http://docs.feathersjs.com" title="Documentation">Documentation</a></li>
              <li><a href="http://docs.feathersjs.com/guides" title="Guides and Tutorials">Guides</a></li>
              <li><a href="https://blog.feathersjs.com" title="Blog about Feathers on Medium">Blog</a></li>
            </ul>
          </div>
          <div class="col col-4 col-2-tablet">
            <p class="title">Support</p>
            <ul class="list-unstyled">
              <li><a href="https://opencollective.com/feathers" title="Opencollective">Become a backer</a></li>
              <li><a href="http://docs.feathersjs.com/guides/help.html" title="Find help">Find help</a></li>
              <li><a href="https://github.com/feathersjs/feathers/issues" title="Github Issues">Github Issues</a></li>
            </ul>
          </div>
          <div class="col col-12 col-6-tablet social text-center">
            <ul class="list-inline right">
              <li>
                <a href="https://twitter.com/feathersjs" target="_blank" title="Feather's Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              </li>
              <li>
                <a href="https://github.com/feathersjs" target="_blank" title="Feather's Github">
                <i class="fa fa-github"></i>
              </a>
              </li>
              <li>
                <a href="http://slack.feathersjs.com/" target="_blank" title="Feather's Slack">
                <i class="fa fa-slack"></i>
              </a>
              </li>
              <li>
                <a href="https://blog.feathersjs.com/" target="_blank" title="Blog">
                <i class="fa fa-medium"></i>
              </a>
              </li>
              <li>
                <a href="http://stackoverflow.com/questions/tagged/feathersjs" target="_blank" title="Stackoverflow tagged Feathers">
                <i class="fa fa-stack-overflow"></i>
              </a>
              </li>
            </ul>
            <a href="https://www.netlify.com" target="_blank">
              <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" title="Deployed on Netlify"/>
            </a>
          </div>
        </div>
        <div class="row text-center copyright">
          <p>&copy; 2014 - 2019 <a class="normal" href="https://github.com/orgs/feathersjs/people" title="Feathers contributors and core team members">Feathers contributors</a>
          </p>
        </div>
      </div>
    </footer>
  {% endblock %}

  {% block scripts %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{site.ga.id}}', 'auto');
    ga('send', 'pageview');
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script type="text/javascript" src="feathers.js"></script>
  {% endblock %}
</body>
</html>
