.decor {
  background: #e0e0e0;
  height: 50%;
  min-height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.decor::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 100%;
  clip-path: ellipse(75% 100% at center 150%);
}
